DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name


# JWT Authentication (Base64 encoded RSA keys)
# Use 'cat certs/private.pem | base64 -w 0' to generate these values
JWT_PRIVATE_KEY_B64=your_base64_encoded_private_key_here
JWT_PUBLIC_KEY_B64=your_base64_encoded_public_key_here


# Mailjet
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret
MAILJET_SENDER_EMAIL=noreply@yourdomain.com
MAILJET_SENDER_NAME=CryptoWallet
FRONTEND_DASHBOARD_URL=http://localhost:3000/dashboard


AES_SECRET_KEY=твой_сгенерированный_base64_ключ
