# Message Brokers & Cache
RABBITMQ_URL=amqp://user:password@host:port/
REDIS_URL=redis://host:port/db

# Internal Microservices
REST_API_URL=http://rest_api:8000

# iBay Logistics Settings
STRESS_TEST_REQUESTS=1000
